/* overflow on "x" should be set in order for the textIntro to not make the width larger when it goes beyond it */
* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

#header {
  width: 100vw;
  height: 30px;
  top: 0;
  position: fixed;
  background-color: white;
  z-index: 10;
}

#rightCliping {
  width: 20px;
  height: 100vh;
  right: 0;
  position: fixed;
  background-color: white;
  z-index: 10;
}

h2 {
  color: #727171;
  font-size: 6rem;
  padding: 0px;
  margin: 0px;
  margin-top: 0rem;
  font-weight: 600;
}

h3 {
  color: #fc7248;
  font-size: 4rem;
  padding: 0px;
  margin: 0px;
  font-weight: 700;
}

/*section 1*/

#intro {
  width: 100%;
  height: 150%;

  display: flex;
  align-items: flex-start;
  z-index: 1;
}

#leftIntro {
  height: 100%;
  width: 50%;

  background: #fc7248;

  transition: all 0.5s linear;
  z-index: 1;
}

#textContainer {
  height: 100%;
  width: 50%;

  top: 30rem;
  margin: -180px;

  transition: all 0.5s linear;
  z-index: 2;
}

#textIntro {
  font-size: 8rem;
  font-weight: 700;
  position: -webkit-sticky;
  position: sticky;
  top: 30rem;
}

/*parallex */

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  z-index: -1;
}

.cover {
  width: 100%;
}

.one {
  background-image: url("./march.png");
  background-size: cover;
  position: relative;
  height: 80%;
  width: 100%;
}

/* month 1 */

.section {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 66%, #fc7248 66%);
}

.info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 0 0 50px;
  width: 50%;
}

.image {
  width: 50%;
  position: relative;
  top: 20%;
}

/* month 1 */

.two {
  background-image: url("./march.png");
  background-size: cover;
  background-position: center;
  height: 80%;
  z-index: -1;
}
